body{
    background: linear-gradient(to bottom, red, green, blue);
    /* viewportWidth viewportHeight percentage */
    width: 100vw;
    height: 100vh;
}

#canvas1{
    width: 100%;
    height: 100%;
    position: absolute;
    /* to delete default padding */
    top: 0;
    left: 0;
}